@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}
body {
  font-family: "Roboto";
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
}

a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

ul {
  list-style-type: none;
}

/* MEDIA */
@media (min-width: 768px) {
  .blok__container {
    padding-right: 5%;
    padding-left: 5%;
  }

  .container__img {
    margin-right: -4px;
    margin-left: -4;
    padding: 4px;
    flex: 0 1 33.333%;
  }
  .img__body {
    flex: 0 1 50%;
    padding: 0px 8px;
  }
}
@media (max-width: 768px) {
  .container__img {
    flex: 0 1 50%;
  }
  .blok__container {
    padding-right: 2%;
    padding-left: 2%;
    height: 100%;
  }
  .img__body {
    flex: 0 1 100%;
    padding: 0px 8px;
  }
}
@media (max-width: 576px) {
  .container__img {
    flex: 1 1 100%;
  }
}

.blok {
  max-width: 100%;
  width: 100%;
}

.blok__row {
  display: flex;
  flex-direction: column;
}
/* HEADER */

.blok__header {
  width: 100%;
  height: 72px;
  position: fixed;
}

.container__row {
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
.head__link1 {
  flex-basis: 100%;
  top: 0;
}

/* MAIN */

.blok__main {
  margin-top: 72px;
  padding-bottom: 100px;

  background-color: #f2f2f2;
}
.main__text {
  padding-top: 56px;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  border-bottom: 1.5px solid #757575;
}

.main__text2 {
  padding-top: 56px;
  padding-bottom: 16px;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}
.container__img:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
img {
  height: 100%;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__img__text {
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}
.main__img__text2 {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}
.main__img__text3 {
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

/* FOOTER */

.blok__footer {
  background-color: #262626;
}
.footer__items {
  display: flex;
  align-items: center;
  height: 116px;
  border-bottom: 1px solid #ffffff;
}

.footer__items2 {
  height: 220px;
  border-bottom: 1px solid #ffffff;
}
.items2__row {
  display: flex;
  height: 220px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items2__column:last-child {
  flex-basis: 30%;
}
.items2__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.column__text {
  font-size: 13px;
  line-height: 15.23px;
  color: #ffffff;
}
.column__text_uber {
  font-size: 16px;
  line-height: 19px;
}
.column__text_uber > span {
  color: #49a144;
}
.footer__items3 {
  height: 120px;
  border-bottom: 1px solid #ffffff;
}
.items3__row {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.column__img__1 {
  margin-right: 20px;
  width: 119px;
  height: 38px;
}
.column__img__2 > img {
  margin-left: 20px;
  width: 135px;
  height: 40px;
}
.footer__items4 {
  height: 93px;
}
.items4__text {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.column__text > img {
  color: #dadada;
  width: 16px;
  height: 16px;
}
select {
  width: 150px;
  height: 30px;
  color: #f2f2f2;
  background-color: #3b3b3b;
}
option {
  background-color: #59bd5a;
}
.items4__text > .column__text:last-child {
  flex-basis: 30%;
}
.footer__back {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 24px;
  right: 16px;
  width: 80px;
  height: 80px;
  background-color: #59bd5a;
}
.footer__back > a {
  width: 15px;
  height: 25px;
}
/* RESTORAN MAIN */

.container__border {
  border-bottom: 1px solid #75757533;
}

.nav__row {
  height: 80px;
}
.nav__row > a {
  margin: 32px 40px 29px 0px;
  width: auto;
  font-size: 16px;
  line-height: 18.75px;
  color: #626262;
}
.nav__row a:first-child {
  color: #327430;
}
.button__p {
  margin: 8px 16px;
}

.main__img__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}
.main__text3 {
  margin: 56px 0px -17px 0px;

  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}
.img__row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #75757533;

  margin-top: 49px;
}
.img__backround {
  background-color: #75757521;
}
.img__row__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 50%;
}

.img__row__text > .main__img__text {
  padding: 16px 0px 0px 16px;
}
.main__img__text4 {
  font-size: 13px;
  line-height: 21px;
  color: #626262;
}
.main__img__text5 {
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  padding: 0px 0px 16px 16px;
}
/* POSITION */
@media (min-width: 768px) {
  .blok__position {
    position: absolute;
    top: 152px;
    left: 119px;
    width: 389px;
    height: 204px;
    background-color: #ffffff;
  }
  .position__h {
    margin: 38px 38px 54px 38px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #1d1d1d;
  }
  .position__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .position__p {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #626262;
  }
  .position__button {
    width: 100px;
    height: 32px;
    background-color: #262626;
    text-align: right;
    border-radius: 16px;
  }

  .button__p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
  .main__jpg {
    height: 364px;
  }
}
@media (max-width: 768px) {
  .blok__position {
    position: absolute;
    top: 152px;
    left: 8px;
    width: 432px;
    height: 204px;
    background-color: #ffffff;
  }
  .position__h {
    margin: 38px 38px 54px 38px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #1d1d1d;
  }
  .position__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .position__p {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #626262;
  }
  .position__button {
    width: 100px;
    height: 32px;
    background-color: #262626;
    text-align: right;
    border-radius: 16px;
  }

  .button__p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
  .main__jpg {
    height: 364px;
  }
}
@media (max-width: 576px) {
  .blok__position {
    position: absolute;
    top: 203px;
    left: 33.5px;
    width: 308px;
    height: 180px;
    background-color: #ffffff;
  }
  .position__h {
    margin: 24px 38px 40px 38px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1d1d1d;
  }
  .position__row {
    display: flex;
    flex-direction: column;
  }

  .position__p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #626262;
  }
  .position__button {
    width: 100px;
    height: 32px;
    background-color: #262626;
    text-align: right;
    border-radius: 16px;
  }

  .button__p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
  .main__jpg {
    height: 256px;
  }
  .head__link_img {
    display: none;
  }
  .container__border {
    display: none;
  }
  .items2__column {
    flex-basis: 100%;
  }
  .items4__text > .column__text {
    flex-basis: 100%;
  }
  .main__text3 {
    text-align: center;
    margin-bottom: 12px;
  }
  .main__text3___row {
    display: flex;
    justify-content: space-around;
  }
  .main__text3__border {
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px solid #757575;
    width: 50px;
    height: 1px;
  }
  .items4__text > .column__text:last-child {
    flex-basis: 100%;
  }
}
